SECRET_KEY=django-insecure-change-me-in-prod
DEBUG=True
ALLOWED_HOSTS=82.25.121.125
DB_USERNAME=u665497677_MatchPoint
DB_USER=u665497677_MatchPoint
DB_PASSWORD=FileMyRTI@50cr
DB_HOST=82.25.121.125
DB_PORT=3306
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:3000
DB_DATABASE=u665497677_MatchPoint
# OPENAI_API_KEY=sk-proj-scrubbed-secret-key
OPENAI_MODEL=gpt-4.1-mini
GEMINI_API_KEY=AIzaSy-scrubbed-secret-key
GEMINI_MODEL=gemini-1.5-flash
OPENAI_API_KEY=sk-proj-scrubbed-secret-key
